## AIVLE School [AI 미니프로젝트] '서울시 생활정보 기반 대중교통 수요 분석'

---

# 4. 구 별 업종 분석
### 서울시 내 각 구 별로 등록업종을 분석합니다.

## 데이터 안내

[데이터 파일명]
* 4. seoul_people.csv

[데이터 정보]
* 서울 시 구별 등록 업종 상위 10개 데이터
    * 택시운송업
    * 한식일반음식점업
    * 용달 화물자동차 운송업
    * 부동산 중개 및 대리업
    * 두발미용업
    * 커피전문점
    * 남녀용 겉옷 및 셔츠 도매업
    * 기타주점업
    * 일반 교과 학원
    * 한식 육류요리 전문점

[데이터 컬럼 정보]
* 다수 업종 상위 1~10

In [ ]:
# 필요 라이브러리를 설치합니다.
%pip install pandas seaborn

---

# 4.1.데이터 불러오기

#### [4.1.1] 데이터 로딩
* Pandas 라이브러리를 활용해서 '4. business_type.csv'파일을 'seoul_business' 변수에 저장하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 ',' 입니다
        * 인코더를 사용해 주세요
    * 데이터를 불러올 때 오류가 발생한다면, 오류에 대해 직접 검색하여 해결해보세요.

In [2]:
# 아래에 코드를 작성하고 결과를 확인합니다.
import pandas as pd
data = pd.read_csv('df_temp_ver1.csv')
data.head()

,도착 시군구 코드,자치구,버스정류장개수,노선개수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,평균 이동 시간(분),이동인구(평균),...,한식 일반 음식점업,용달 화물자동차 운송업,부동산 중개 및 대리업,두발미용업,커피전문점,남녀용 겉옷 및 셔츠 도매업,기타주점업,일반 교과 학원,한식 육류요리 전문점,종사자총합
0,11010,종로구,349,106,5468935,5205394,131.889620,125.534028,21.867754,46.046219,...,5912,646,889,480,3613,962,1413,382,1982,16494
1,11020,중구,178,103,3776675,3598932,121.020124,115.324511,21.524817,46.214336,...,6414,333,1152,816,3542,24248,982,175,2121,40018
2,11030,용산구,323,67,4189977,4086474,137.891694,134.485421,21.820458,38.412082,...,2987,466,1214,777,2076,317,1332,573,1184,11449
3,11040,성동구,435,58,2807280,2746738,96.377369,94.298888,22.150334,44.717847,...,2785,1161,1453,851,1859,1572,621,1494,1545,15868
4,11050,광진구,269,41,2749448,2753411,118.352546,118.523137,22.810568,50.043326,...,2861,985,1313,1337,1887,687,1577,1646,1678,15715

In [4]:
data.columns

Index(['도착 시군구 코드', '자치구', '버스정류장개수', '노선개수', '승차총승객수', '하차총승객수', '승차평균승객수',
       '하차평균승객수', '평균 이동 시간(분)', '이동인구(평균)', '평균 이동 시간의 합(분)', '이동인구(합)', '세대',
       '인구', '세대당인구', '택시운송업', '한식 일반 음식점업', '용달 화물자동차 운송업', '부동산 중개 및 대리업',
       '두발미용업', '커피전문점', '남녀용 겉옷 및 셔츠 도매업', '기타주점업', '일반 교과 학원', '한식 육류요리 전문점',
       '종사자총합'],
      dtype='object')

---

# 4.2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [4.2.1] 기본 정보 확인하기
* 'seoul_business' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head', 'tail' 등 전부 활용해 보겠습니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

#### [4.2.2] 원하는 데이터 형태로 저장하기

* head, tail 등을 살펴본 결과를 토대로 header 값을 적절히 지정하여 데이터를 다시 불러오고 필요한 컬럼만 저장하세요

In [ ]:
#read_csv 재실행. 단, header값을 적절히 지정

In [ ]:
# 다시 불러온 데이터프레임에서 여러분 각자가 사용하고자 하는 컬럼만 가져오세요.

In [ ]:
# 여러분 각자가 사용하고자 하는 형태로 데이터를 정리합니다. 
# 예를 들어, 동 컬럼의 값이 소계인 항목들만 골라내 보겠습니다. 
# 위와 같이 동 컬럼의 소계를 구하면 자치구 별 값이 되므로 이후에 동 컬럼은 삭제하겠습니다. 결과적으로 자치구 별 값을 얻게 됩니다.

In [ ]:
# 위에서 여러분 각자가 사용하고자 하는 형태로 정리한 해당 데이터프레임을 csv 파일('df_seoul_business.csv')로 저장하세요.

---

# 4.3.데이터 분석하기
+ 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별하세요.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [ ]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

#### [4.3.1] 데이터 분포 알아보기_1
* '자치구' 등 여러 변수를 기준으로 시각화 해보고 인사이트를 도출해보세요.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

---