# 안녕하세요^^
# AIVLE 미니 프로젝트에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

# (실습준비) 데이터 불러오기부터

* 17년도부터 21년도 까지의 데이터를 train set, 22년도의 6개월치 데이터를 test set 으로 설정합니다.

In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as spst
import joblib

In [120]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [121]:
path = '/content/drive/MyDrive/미프4/'

In [122]:
# 학습 데이터 로딩
df_total = joblib.load(path+'train.pkl')
df_test = joblib.load(path+'test.pkl')

---

# 1. 데이터 전처리

#### [실습문제1] 열 추가
* 기존 '기준일ID'열에서 날짜 데이터를 추출하여 새로운 열로 추가 합니다.
    - pd.to_datetime() 함수를 사용해 '기준일ID'열을 datetime 형식으로 변경하겠습니다.
    - year, month, day 열로 기존 데이터 프레임에 연월일 정보를 저장합니다.
    - 데이터 프레임 열에 대해 날짜 정보를 얻을 때에는 **dt.year**, **dt.month**, **dt.day** 속성을 사용합니다.

In [123]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_total['year'], df_total['month'], df_total['day'], df_total['weekday'] = df_total['기준일ID'].dt.year, df_total['기준일ID'].dt.month, df_total['기준일ID'].dt.day, df_total['기준일ID'].dt.weekday
df_total.head(3)

,기준일ID,시간대구분,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,...,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,year,month,day,weekday
0,2017-01-01,0,31535.2200,1945.4402,566.4588,631.5581,991.9184,1297.1287,1223.1529,1552.9448,...,998.0414,874.5643,1162.1547,1053.0477,964.3940,2025.4819,2017,1,1,6
1,2017-01-01,1,31188.9174,1930.4766,562.1018,625.2151,1030.6281,1307.7381,1183.0956,1491.5827,...,1038.7528,857.9100,1149.7532,1042.7411,919.0115,2062.2422,2017,1,1,6
2,2017-01-01,2,31240.4974,1921.1864,559.3965,658.7463,1058.7082,1311.9591,1186.2600,1537.3732,...,1020.0177,853.3890,1193.4472,1011.2073,889.9325,1960.1236,2017,1,1,6

In [124]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_test['year'], df_test['month'], df_test['day'], df_test['weekday'] = df_test['기준일ID'].dt.year, df_test['기준일ID'].dt.month, df_test['기준일ID'].dt.day, df_test['기준일ID'].dt.weekday
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준일ID            4344 non-null   datetime64[ns]
 1   시간대구분            4344 non-null   int64
 2   총생활인구수           4344 non-null   float64
 3   남자0세부터9세생활인구수    4344 non-null   float64
 4   남자10세부터14세생활인구수  4344 non-null   float64
 5   남자15세부터19세생활인구수  4344 non-null   float64
 6   남자20세부터24세생활인구수  4344 non-null   float64
 7   남자25세부터29세생활인구수  4344 non-null   float64
 8   남자30세부터34세생활인구수  4344 non-null   float64
 9   남자35세부터39세생활인구수  4344 non-null   float64
 10  남자40세부터44세생활인구수  4344 non-null   float64
 11  남자45세부터49세생활인구수  4344 non-null   float64
 12  남자50세부터54세생활인구수  4344 non-null   float64
 13  남자55세부터59세생활인구수  4344 non-null   float64
 14  남자60세부터64세생활인구수  4344 non-null   float64
 15  남자65세부터69세생활인구수  4344 non-null   float64
 16  남자70세이상생활인구수     4344 non-null   float64
 17  여자0세부터9세생활인구수    4344 non-null   float64
 18  여자10세부터14세생활인구수  4344 non-null   float64
 19  여자15세부터19세생활인구수  4344 non-null   float64
 20  여자20세부터24세생활인구수  4344 non-null   float64
 21  여자25세부터29세생활인구수  4344 non-null   float64
 22  여자30세부터34세생활인구수  4344 non-null   float64
 23  여자35세부터39세생활인구수  4344 non-null   float64
 24  여자40세부터44세생활인구수  4344 non-null   float64
 25  여자45세부터49세생활인구수  4344 non-null   float64
 26  여자50세부터54세생활인구수  4344 non-null   float64
 27  여자55세부터59세생활인구수  4344 non-null   float64
 28  여자60세부터64세생활인구수  4344 non-null   float64
 29  여자65세부터69세생활인구수  4344 non-null   float64
 30  여자70세이상생활인구수     4344 non-null   float64
 31  year             4344 non-null   int64
 32  month            4344 non-null   int64
 33  day              4344 non-null   int64
 34  weekday          4344 non-null   int64
dtypes: datetime64[ns](1), float64(29), int64(5)
memory usage: 1.2 MB

#### [실습문제2] 불필요한 열 제거 및 열 이름 변경
* df_total과 df_test에서 '총생활인구수'외에 불필요한 열을 제거 하도록 하겠습니다.
* 시간 데이터를 남기고, '시간대구분' column 을 'hour'로 rename 하도록 하겠습니다.

In [125]:
# train = df_total.drop(list(df_total)[3:-3], axis=1)
# test = df_test.drop(list(df_test)[3:-3], axis=1)

In [126]:
train = df_total
test = df_test

In [127]:
train['hour'] = train['시간대구분']
test['hour'] = test['시간대구분']

In [128]:
train.drop(['기준일ID', '시간대구분'], axis=1, inplace=True)
test.drop(['기준일ID', '시간대구분'], axis=1, inplace=True)

#### [실습문제3] 시프트 & 롤링
* shift()를 활용하여 이동할 행 수를 지정합니다.
* rolling()을 활용하여 추가할 이동평균 수를 지정합니다.

#### shift()로 전후 평균

In [129]:
train['mean3'] = round(train['총생활인구수'].rolling(3, min_periods=1).mean(), 1)
train.head()

,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,year,month,day,weekday,hour,mean3
0,31535.2200,1945.4402,566.4588,631.5581,991.9184,1297.1287,1223.1529,1552.9448,1236.7535,1172.5566,...,1162.1547,1053.0477,964.3940,2025.4819,2017,1,1,6,0,31535.2
1,31188.9174,1930.4766,562.1018,625.2151,1030.6281,1307.7381,1183.0956,1491.5827,1236.8635,1161.4078,...,1149.7532,1042.7411,919.0115,2062.2422,2017,1,1,6,1,31362.1
2,31240.4974,1921.1864,559.3965,658.7463,1058.7082,1311.9591,1186.2600,1537.3732,1211.8326,1181.3342,...,1193.4472,1011.2073,889.9325,1960.1236,2017,1,1,6,2,31321.5
3,31442.4314,1946.4476,566.7525,649.0804,1057.9119,1324.2638,1202.1250,1521.2732,1232.8897,1144.3047,...,1163.0355,1056.6428,891.9177,2060.1872,2017,1,1,6,3,31290.6
4,31922.7751,1953.7713,568.8845,623.2087,1063.2557,1342.9146,1209.2680,1556.0675,1282.1621,1190.1022,...,1191.7017,1045.3362,874.4984,2038.6212,2017,1,1,6,4,31535.2

In [130]:
test['mean3'] = round(test['총생활인구수'].rolling(3, min_periods=1).mean(), 1)
test.head()

,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,year,month,day,weekday,hour,mean3
0,30509.7386,1884.2082,548.6298,635.1617,816.1686,1140.0136,1310.3109,1528.2100,1490.5116,1404.8348,...,1032.1651,872.8850,767.0226,1737.1551,2022,1,1,5,0,30509.7
1,30759.5067,1918.5330,558.6242,665.6793,822.6910,1159.5614,1293.1350,1542.7586,1485.2323,1410.6036,...,998.1091,862.3041,776.7908,1753.0597,2022,1,1,5,1,30634.6
2,31048.8787,2068.1943,602.2013,680.8294,819.7141,1164.5819,1331.9311,1537.8207,1493.3085,1417.3893,...,1026.5402,882.2846,772.8478,1757.8801,2022,1,1,5,2,30772.7
3,31076.1092,1951.7702,568.3016,690.9847,804.2219,1180.7028,1336.8848,1542.4681,1474.2258,1451.9811,...,1042.1205,891.6092,785.1560,1747.8953,2022,1,1,5,3,30961.5
4,31714.9309,2058.5797,599.4019,708.3313,847.9704,1168.0681,1355.7735,1586.0121,1506.2284,1468.1769,...,1052.5656,877.6836,795.0789,1760.4713,2022,1,1,5,4,31280.0

#### target 값 설정

요일도 중요할 것 같아서 일주일 뒤 총생활인구수로 target을 설정했는데, 0.6 성능 나옴.

하루 뒤 총생활인구수로 target을 설정하겠음.

In [131]:
# target : 일주일 뒤 총생활인구수
train = pd.concat([train, test.iloc[:24]], axis=0)  # 행으로 합치기
train['target'] = train['총생활인구수'].shift(-24)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43536 entries, 0 to 23
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   총생활인구수           43536 non-null  float64
 1   남자0세부터9세생활인구수    43536 non-null  float64
 2   남자10세부터14세생활인구수  43536 non-null  float64
 3   남자15세부터19세생활인구수  43536 non-null  float64
 4   남자20세부터24세생활인구수  43536 non-null  float64
 5   남자25세부터29세생활인구수  43536 non-null  float64
 6   남자30세부터34세생활인구수  43536 non-null  float64
 7   남자35세부터39세생활인구수  43536 non-null  float64
 8   남자40세부터44세생활인구수  43536 non-null  float64
 9   남자45세부터49세생활인구수  43536 non-null  float64
 10  남자50세부터54세생활인구수  43536 non-null  float64
 11  남자55세부터59세생활인구수  43536 non-null  float64
 12  남자60세부터64세생활인구수  43536 non-null  float64
 13  남자65세부터69세생활인구수  43536 non-null  float64
 14  남자70세이상생활인구수     43536 non-null  float64
 15  여자0세부터9세생활인구수    43536 non-null  float64
 16  여자10세부터14세생활인구수  43536 non-null  float64
 17  여자15세부터19세생활인구수  43536 non-null  float64
 18  여자20세부터24세생활인구수  43536 non-null  float64
 19  여자25세부터29세생활인구수  43536 non-null  float64
 20  여자30세부터34세생활인구수  43536 non-null  float64
 21  여자35세부터39세생활인구수  43536 non-null  float64
 22  여자40세부터44세생활인구수  43536 non-null  float64
 23  여자45세부터49세생활인구수  43536 non-null  float64
 24  여자50세부터54세생활인구수  43536 non-null  float64
 25  여자55세부터59세생활인구수  43536 non-null  float64
 26  여자60세부터64세생활인구수  43536 non-null  float64
 27  여자65세부터69세생활인구수  43536 non-null  float64
 28  여자70세이상생활인구수     43536 non-null  float64
 29  year             43536 non-null  int64
 30  month            43536 non-null  int64
 31  day              43536 non-null  int64
 32  weekday          43536 non-null  int64
 33  hour             43536 non-null  int64
 34  mean3            43536 non-null  float64
 35  target           43512 non-null  float64
dtypes: float64(31), int64(5)
memory usage: 12.3 MB

In [132]:
train.dropna(inplace=True) # null 값을 포함하는 행 삭제
train

,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,year,month,day,weekday,hour,mean3,target
0,31535.2200,1945.4402,566.4588,631.5581,991.9184,1297.1287,1223.1529,1552.9448,1236.7535,1172.5566,...,1053.0477,964.3940,2025.4819,2017,1,1,6,0,31535.2,31290.0276
1,31188.9174,1930.4766,562.1018,625.2151,1030.6281,1307.7381,1183.0956,1491.5827,1236.8635,1161.4078,...,1042.7411,919.0115,2062.2422,2017,1,1,6,1,31362.1,31221.5248
2,31240.4974,1921.1864,559.3965,658.7463,1058.7082,1311.9591,1186.2600,1537.3732,1211.8326,1181.3342,...,1011.2073,889.9325,1960.1236,2017,1,1,6,2,31321.5,31283.4217
3,31442.4314,1946.4476,566.7525,649.0804,1057.9119,1324.2638,1202.1250,1521.2732,1232.8897,1144.3047,...,1056.6428,891.9177,2060.1872,2017,1,1,6,3,31290.6,31384.6021
4,31922.7751,1953.7713,568.8845,623.2087,1063.2557,1342.9146,1209.2680,1556.0675,1282.1621,1190.1022,...,1045.3362,874.4984,2038.6212,2017,1,1,6,4,31535.2,32104.6669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43507,33060.4555,1858.2611,541.0746,605.9080,781.6602,1342.6763,1435.1080,1678.8904,1605.1525,1598.5467,...,942.1525,789.2094,1705.8216,2021,12,31,4,19,35472.9,30071.1298
43508,32360.1898,2093.8808,609.6807,612.5326,768.8351,1323.7124,1479.1382,1654.5005,1533.4662,1476.7221,...,894.8617,792.1748,1726.3071,2021,12,31,4,20,33767.9,30140.0597
43509,31417.3991,1983.6728,577.5909,639.2174,779.6693,1187.6783,1375.6785,1600.9946,1423.7113,1434.7766,...,874.9000,770.3955,1674.6047,2021,12,31,4,21,32279.3,30183.2726
43510,30763.0563,2028.3314,590.5941,654.0295,790.1638,1133.6311,1362.0266,1548.7366,1456.9716,1440.2235,...,848.4622,753.9750,1727.0258,2021,12,31,4,22,31513.5,30694.2288
43511,30404.2740,1903.8825,554.3582,615.0753,772.8499,1136.6157,1295.0434,1549.1984,1508.8052,1483.0320,...,872.1547,734.2503,1759.0664,2021,12,31,4,23,30861.6,31496.5201

In [133]:
test['target'] = test['총생활인구수'].shift(-24)
test.dropna(inplace=True) # null 값을 포함하는 행 삭제
test

,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,year,month,day,weekday,hour,mean3,target
0,30509.7386,1884.2082,548.6298,635.1617,816.1686,1140.0136,1310.3109,1528.2100,1490.5116,1404.8348,...,872.8850,767.0226,1737.1551,2022,1,1,5,0,30509.7,30524.7434
1,30759.5067,1918.5330,558.6242,665.6793,822.6910,1159.5614,1293.1350,1542.7586,1485.2323,1410.6036,...,862.3041,776.7908,1753.0597,2022,1,1,5,1,30634.6,31024.0247
2,31048.8787,2068.1943,602.2013,680.8294,819.7141,1164.5819,1331.9311,1537.8207,1493.3085,1417.3893,...,882.2846,772.8478,1757.8801,2022,1,1,5,2,30772.7,31195.0739
3,31076.1092,1951.7702,568.3016,690.9847,804.2219,1180.7028,1336.8848,1542.4681,1474.2258,1451.9811,...,891.6092,785.1560,1747.8953,2022,1,1,5,3,30961.5,31349.9642
4,31714.9309,2058.5797,599.4019,708.3313,847.9704,1168.0681,1355.7735,1586.0121,1506.2284,1468.1769,...,877.6836,795.0789,1760.4713,2022,1,1,5,4,31280.0,31993.0440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,31689.8212,1887.3098,549.5331,521.6067,767.4713,1105.7015,1366.8048,1667.5890,1546.2287,1507.5983,...,922.8379,743.6683,1638.0104,2022,6,29,2,19,33147.0,32969.6040
4316,30425.9054,1915.5621,557.7588,492.0667,736.6880,1063.6446,1243.2890,1566.2797,1465.1115,1424.0308,...,899.6520,729.8420,1558.7710,2022,6,29,2,20,31698.7,31014.6597
4317,30352.8869,1832.1007,533.4572,533.1095,657.1887,1124.1409,1315.5870,1611.0751,1448.7146,1477.3834,...,847.9154,712.6615,1622.1022,2022,6,29,2,21,30822.9,30923.2923
4318,30232.2846,1919.9888,559.0479,605.6511,694.2102,1177.6589,1289.3667,1592.9451,1433.7953,1480.9096,...,846.4850,738.8655,1597.2884,2022,6,29,2,22,30337.0,30509.5463
4319,31251.4119,2278.6019,663.4664,607.1826,697.8407,1108.9555,1319.9910,1635.2906,1545.2944,1434.1232,...,792.5821,719.8603,1808.9691,2022,6,29,2,23,30612.2,31184.8763

#### [실습문제4] 결측치 처리 및 불필요한 열 제거
* 롤링 & 시프트 과정에서 발생한 결측치를 처리하도록 하겠습니다.
* 불필요한 열을 추가로 제거 하겠습니다.(시간 관련 행들)

In [134]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [135]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

#### [실습문제5] train, test 데이터 나누기
* df_total과 df_test를 각각 train_x, train_y, test_x, test_y 로 나누어 주세요.
* 인덱스를 리셋 해주세요.

In [136]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43512 entries, 0 to 43511
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   총생활인구수           43512 non-null  float64
 1   남자0세부터9세생활인구수    43512 non-null  float64
 2   남자10세부터14세생활인구수  43512 non-null  float64
 3   남자15세부터19세생활인구수  43512 non-null  float64
 4   남자20세부터24세생활인구수  43512 non-null  float64
 5   남자25세부터29세생활인구수  43512 non-null  float64
 6   남자30세부터34세생활인구수  43512 non-null  float64
 7   남자35세부터39세생활인구수  43512 non-null  float64
 8   남자40세부터44세생활인구수  43512 non-null  float64
 9   남자45세부터49세생활인구수  43512 non-null  float64
 10  남자50세부터54세생활인구수  43512 non-null  float64
 11  남자55세부터59세생활인구수  43512 non-null  float64
 12  남자60세부터64세생활인구수  43512 non-null  float64
 13  남자65세부터69세생활인구수  43512 non-null  float64
 14  남자70세이상생활인구수     43512 non-null  float64
 15  여자0세부터9세생활인구수    43512 non-null  float64
 16  여자10세부터14세생활인구수  43512 non-null  float64
 17  여자15세부터19세생활인구수  43512 non-null  float64
 18  여자20세부터24세생활인구수  43512 non-null  float64
 19  여자25세부터29세생활인구수  43512 non-null  float64
 20  여자30세부터34세생활인구수  43512 non-null  float64
 21  여자35세부터39세생활인구수  43512 non-null  float64
 22  여자40세부터44세생활인구수  43512 non-null  float64
 23  여자45세부터49세생활인구수  43512 non-null  float64
 24  여자50세부터54세생활인구수  43512 non-null  float64
 25  여자55세부터59세생활인구수  43512 non-null  float64
 26  여자60세부터64세생활인구수  43512 non-null  float64
 27  여자65세부터69세생활인구수  43512 non-null  float64
 28  여자70세이상생활인구수     43512 non-null  float64
 29  year             43512 non-null  int64
 30  month            43512 non-null  int64
 31  day              43512 non-null  int64
 32  weekday          43512 non-null  int64
 33  hour             43512 non-null  int64
 34  mean3            43512 non-null  float64
 35  target           43512 non-null  float64
dtypes: float64(31), int64(5)
memory usage: 12.3 MB

In [137]:
train.drop(['year', 'day'], axis=1, inplace=True)
test.drop(['year', 'day'], axis=1, inplace=True)

In [138]:
from sklearn.preprocessing import OneHotEncoder

# OneHotEncoder 초기화 (sparse_output 매개변수 사용)
encoder = OneHotEncoder(sparse_output=False)

# ['year', 'month', 'day', 'hour', 'weekday'] 컬럼들을 one-hot encoding
encoded_cols = encoder.fit_transform(train[['month', 'hour', 'weekday']])
encoded_train = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(['month', 'hour', 'weekday']))

# 원래의 데이터프레임에서 해당 컬럼들을 제거하고 one-hot encoded 데이터를 추가
train = train.drop(columns=['month', 'hour', 'weekday'])
train = pd.concat([train, encoded_train], axis=1)

In [139]:
encoded_cols = encoder.transform(test[['month', 'hour', 'weekday']])
encoded_test = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(['month', 'hour', 'weekday']))

# 원래의 데이터프레임에서 해당 컬럼들을 제거하고 one-hot encoded 데이터를 추가
test = test.drop(columns=['month', 'hour', 'weekday'])
test = pd.concat([test, encoded_test], axis=1)

In [140]:
train_x = train.drop('target', axis=1)
train_y = train['target']
test_x = test.drop('target', axis=1)
test_y = test['target']

---

## 다음 단계를 위해서 데이터를 저장하겠습니다.

In [143]:
# CSV로 저장
path = '/content/drive/MyDrive/미프4/'
train_x.to_csv(path+'train_x.csv', index = False)
train_y.to_csv(path+'train_y.csv', index = False)
test_x.to_csv(path+'test_x.csv', index = False)
test_y.to_csv(path+'test_y.csv', index = False)

---